.header {
  width: 100%;
  background: var(--color-bg-light-secondary);
  border-bottom: 0.0625rem solid var(--color-border-medium);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.container {
  max-width: var(--container-max-width);
  margin: auto;
  padding: 1vh var(--section-padding-x);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-weight: 600;
  color: var(--color-primary);
  text-decoration: none;
  font-size: 1.125rem;
}

.logo img {
  width: 6.25rem;
}

.nav {
  display: flex;
  align-items: center;
  gap: var(--element-gap);
}

.nav a {
  text-decoration: none;
  color: var(--color-text-primary);
  font-size: 0.9375rem;
  transition: color 0.2s;
}

.nav a.active,
.mobileMenu a.active {
  color: var(--color-primary) !important;
  text-decoration: underline !important;
  font-weight: 600 !important;
}

.contactBtn {
  background: var(--color-primary);
  color: var(--color-text-white);
  border: none;
  padding: 0.625rem 1.125rem;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.contactBtn:hover {
  background: var(--color-primary-hover);
  transform: translateY(-2px);
  box-shadow: 0 0.5rem 1rem rgba(0, 85, 175, 0.2);
}

.contactBtn span {
  transition: transform 0.3s ease;
}

.contactBtn:hover span {
  transform: translateX(4px);
}

.menuIcon {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.mobileMenu {
  display: flex;
  flex-direction: column;
  background: var(--color-bg-white);
  padding: 2vh var(--section-padding-x);
  border-top: 0.0625rem solid var(--color-border-medium);
}

.mobileMenu a {
  padding: 1vh 0;
  text-decoration: none;
  color: var(--color-text-primary);
}

.mobileContactBtn {
  margin-top: 1vh;
  background: var(--color-primary);
  color: var(--color-text-white);
  border: none;
  padding: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.mobileContactBtn:hover {
  background: var(--color-primary-hover);
}

.mobileContactBtn span {
  transition: transform 0.3s ease;
}

.mobileContactBtn:hover span {
  transform: translateX(4px);
}

@media (max-width: 48rem) {
  .nav {
    display: none;
  }

  .menuIcon {
    display: block;
  }

  .logo span {
    display: none;
  }
}